<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Local AEM Development Environment">
    <title>Local AEM Development Environment</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<main>
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
            <span class="fs-3">Local AEM Development Environment</span>
        </header>

        <div class="row">
            <div class="col-md-8 mb-4">
                <div class="h-100 p-4 bg-light border rounded-3">
                    <h2 class="mb-3">Local Instances</h2>
                    <a class="btn btn-danger" href="https://author.{{=it.DOMAIN}}">Author</a>
                    <a class="btn" style="background-color: orange;"
                       href="https://publish.{{=it.DOMAIN}}/libs/granite/core/content/login.html?resource=%2Faem%2Fstart.html">
                        Publish BE
                    </a>
                    <a class="btn btn-warning" href="https://publish.{{=it.DOMAIN}}:{{=it.PUBLISH_HTTP}}">Publish FE</a>
                    <a class="btn btn-success" href="https://www.{{=it.DOMAIN}}:{{=it.DISPATCHER_HTTP}}/en/home.html">Dispatcher</a>
                    <a class="btn btn-primary" href="https://smtp.{{=it.DOMAIN}}:{{=it.MAIL_HTTP}}">SMTP</a>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="h-100 p-4 bg-light border rounded-3">
                    <h2 class="mb-3">Bookmarks</h2>
                    <p>Drag'n'drop to the bookmarks toolbar</p>
                    <a class="btn btn-secondary"
                       href="
                    javascript: (() => {
    const aemUrl = location.protocol + '//' + location.host;

    let path = location.pathname
        .replace('/assets.html', '')
        .replace('/sites.html', '')
        .replace('/editor.html', '')
        .replace('/aem/experience-fragments.html', '')
        .replace('.html', '')
    ;

    const urlParams = new URLSearchParams(location.search);
    if (urlParams.has('item')) {
        path = urlParams.get('item');
    }

    const crxde = aemUrl + '/crx/de/index.jsp#' + path;
    window.open(crxde, '_blank');
})();
                    ">Open in CRX</a>
                </div>
            </div>
        </div>

        <div class="row align-items-md-stretch">
            <div class="col-md-4">
                <div class="h-100 p-4 text-white bg-dark rounded-3">
                    <h2>Author</h2>
                    <ul>
                        <li><a href="https://author.{{=it.DOMAIN}}:{{=it.AUTHOR_HTTP}}/crx/packmgr/" class="link-light">Package Manager</a></li>
                        <li><a href="https://author.{{=it.DOMAIN}}:{{=it.AUTHOR_HTTP}}/crx/de" class="link-light">CRXDE</a></li>
                        <li><a href="https://author.{{=it.DOMAIN}}:{{=it.AUTHOR_HTTP}}/system/console/bundles" class="link-light">OSGi Console</a></li>
                        <li><a href="https://author.{{=it.DOMAIN}}:{{=it.AUTHOR_HTTP}}/etc/replication/agents.author.html" class="link-light">Replication UI</a></li>
                        <li><a href="https://author.{{=it.DOMAIN}}:{{=it.AUTHOR_HTTP}}/groovyconsole" class="link-light">Groovy Console</a></li>
                        <li><a href="https://author.{{=it.DOMAIN}}:{{=it.AUTHOR_HTTP}}/libs/granite/operations/content/diagnosistools/queryPerformance.html" class="link-light">
                            Query Performance
                        </a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="h-100 p-4 text-white bg-dark rounded-3">
                    <h2>Publish</h2>
                    <ul>
                        <li><a href="https://publish.{{=it.DOMAIN}}:{{=it.PUBLISH_HTTP}}/crx/packmgr/" class="link-light">Package Manager</a></li>
                        <li><a href="https://publish.{{=it.DOMAIN}}:{{=it.PUBLISH_HTTP}}/crx/de" class="link-light">CRXDE</a></li>
                        <li><a href="https://publish.{{=it.DOMAIN}}:{{=it.PUBLISH_HTTP}}/system/console/bundles" class="link-light">OSGi Console</a></li>
                        <li><a href="https://publish.{{=it.DOMAIN}}:{{=it.PUBLISH_HTTP}}/etc/replication/agents.publish.html" class="link-light">Replication UI</a></li>
                        <li><a href="https://publish.{{=it.DOMAIN}}:{{=it.PUBLISH_HTTP}}/groovyconsole" class="link-light">Groovy Console</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="h-100 p-4 text-white bg-dark border rounded-3">
                    <h2>General</h2>
                    <ul>
                        <li><a href="https://TBD" class="link-light">Project Management</a></li>
                        <li><a href="https://TBD" class="link-light">Project Wiki</a>
                            <ul>
                                <li><a href="https://TBD.atlassian.net/wiki/spaces/WEBSITE/overview"
                                       class="link-light">Dev Guidelines</a></li>
                                <li><a href="https://TBD.atlassian.net/wiki/spaces/WEBSITE/overview"
                                       class="link-light">Dev Process</a></li>
                            </ul>
                        </li>
                        <li><a href="https://TBD" class="link-light">Git Repository</a></li>
                        <li><a href="https://TBD" class="link-light">Artifact Repository</a></li>
                        <li><a href="https://sonarcloud.io/projects" class="link-light">SonarCloud</a></li>
                        <li><a href="https://eu.polaris.synopsys.com/" class="link-light">Polaris</a></li>
                        <li><a href="https://TBD" class="link-light">Design System</a></li>
                    </ul>
                </div>
            </div>

            <footer class="pt-3 mt-4 text-muted border-top">
                &copy; 2024 Frieder Heugel - <a href="https://github.com/frieder">https://github.com/frieder</a>
            </footer>
        </div>
</main>
</body>

</html>
